<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiguang.be.profile.mapper.ProfileMapper">

    <resultMap id="ProfileUserRowMap" type="com.zhiguang.be.profile.model.ProfileUserRow">
        <constructor>
            <arg column="id" javaType="long"/>
            <arg column="phone" javaType="java.lang.String"/>
            <arg column="account" javaType="java.lang.String"/>
            <arg column="email" javaType="java.lang.String"/>
            <arg column="nickname" javaType="java.lang.String"/>
            <arg column="avatar" javaType="java.lang.String"/>
            <arg column="bio" javaType="java.lang.String"/>
            <arg column="gender" javaType="java.lang.String"/>
            <arg column="birthday" javaType="java.time.LocalDate"/>
            <arg column="school" javaType="java.lang.String"/>
            <arg column="tags_json" javaType="java.lang.String"/>
            <arg column="status" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <select id="findByUserId" resultMap="ProfileUserRowMap">
        select id,
               phone,
               account,
               email,
               nickname,
               avatar,
               bio,
               gender,
               birthday,
               school,
               tags_json,
               status
          from users
         where id = #{userId}
    </select>

    <select id="listByUserIds" resultMap="ProfileUserRowMap">
        select id,
               phone,
               account,
               email,
               nickname,
               avatar,
               bio,
               gender,
               birthday,
               school,
               tags_json,
               status
          from users
         where id in
         <foreach collection="userIds" item="userId" open="(" separator="," close=")">
             #{userId}
         </foreach>
    </select>

    <update id="updateProfile">
        update users
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <choose>
                <when test="clearBio == true">bio = null,</when>
                <when test="bio != null">bio = #{bio},</when>
            </choose>
            <if test="gender != null">gender = #{gender},</if>
            <choose>
                <when test="clearBirthday == true">birthday = null,</when>
                <when test="birthday != null">birthday = #{birthday},</when>
            </choose>
            <choose>
                <when test="clearSchool == true">school = null,</when>
                <when test="school != null">school = #{school},</when>
            </choose>
            <if test="tagsJson != null">tags_json = #{tagsJson},</if>
            updated_at = current_timestamp
        </set>
         where id = #{userId}
    </update>
</mapper>
